@mixin rotate($deg: 0, $m11: 0, $m12: 0, $m21: 0, $m22: 0) {
    -webkit-transform: rotate($deg + deg);
    -moz-transform: rotate($deg + deg);
    -ms-transform: rotate($deg + deg);
    -o-transform: rotate($deg + deg);
    transform: rotate($deg + deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=#{$m11}, M12=#{$m12}, M21=#{$m21}, M22=#{$m22}, sizingMethod='auto expand');
    zoom: 1;
}

@keyframes rotation {
    from {
        @include rotate(0, 0, 0, 0, 0);
    }

    to {
        @include rotate(359, 3, 3, 3, 3);
    }
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

