//Background sol
$background-ground-grass : url('../../assets/images/grass.png');
//Obstacle
$obstacle-tree: url('../../assets/images/tree.png');

//Background sol
$background-ground-dust : url('../../assets/images/sable.png');
//Obstacle
$obstacle-rock: url('../../assets/images/rocher.png');
