$color_body_background:#FFF;
$color_gameboy:rgb(134, 37, 179);
$color_led_on:red;
$color_led_off:#500909;
$color_gameboy_buttons:#505050;
$color_nintendo-text:#39233f;
$color_cells_highlighted:#40632d;
$color_cells_highlighted_hover:#796741;
$color_power_button:#000;
$color_sound_button:#000;
$color_input_text_error :red;
$color_health_bar:#469910;
$color_background_form:#FFF;
$color_background_transparency:rgba(0, 0, 0, 0.575);
$color_background_intro: rgb(82, 82, 82);

