@font-face
{
   font-family: 'Pretendo';
   src: url('../fonts/pretendo/Pretendo.eot?#iefix') format('embedded-opentype'),  url('../fonts/pretendo/Pretendo.woff') format('woff'), url('../fonts/pretendo/Pretendo.ttf')  format('truetype'), url('../fonts/pretendo/Pretendo.svg#Pretendo') format('svg');
   font-weight: normal;
   font-style: normal;
}