@import "./assets.scss", "./couleurs.scss", "./fonts.scss", "./weapons.scss", "./players.scss", "./animations.scss";

body {
    font-family: 'Press Start 2P', cursive;
}

#board {
    z-index: 10;
    position: relative;
    left: 7%;
    top: 9%;
    width: 670px;
}

#board table {
    background-image: $background-ground;
    background-repeat: repeat;
    border-spacing: 0;
    visibility: visible;
}

#board td {
    height: 60px;
    width: 60px;
    border: solid 1px rgba(255, 255, 255, 0.151);
    padding: 0;
}

.obstacle-case {
    background-image: $obstacle;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.highlighted-cell {
    border: 3px solid black;
    background-color: #40632d;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        background-color: #796741;
        background-size: 30%;
        background-repeat: no-repeat;
        background-position: center;
    }
}

#gameboy {
    position: relative;
    background-color: $color_gameboy;
    width: 1000px;
    height: 1700px;
    margin: auto;
    z-index: 3;
    border-bottom-left-radius: 600px 100px;
    border-bottom-right-radius: 600px 100px;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    border: solid 0.5px black;
}

#led {
    border-radius: 50%;
    height: 17px;
    width: 17px;
    position: relative;
    top: 18%;
    left: 7%;
    z-index: 20;
}

.led-on {
    background-color: $color_led_on;
    border: solid 1px $color_led_on;
}

.led-off {
    background-color: $color_led_off;
    border: solid 1px $color_led_off;
}

#power-text {
    color: grey;
    height: 10px;
    width: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    position: relative;
    top: 18.5%;
    left: 5.3%;
    z-index: 20;
}

#power-on {
    position: relative;
    height: 42px;
    width: 11px;
    background-color: black;
    top: 18.6%;
    left: 99.5%;
    cursor: pointer;
    z-index: 20;
}

#sound {
    width: 8px;
    height: 60px;
    position: relative;
    top: 15.53%;
    left: -0.8%;
    background-color: black;
    border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
    cursor: pointer;
}

#nintendo {
    content: '';
    width: 210px;
    height: 47px;
    border: solid 4px $color_nintendo_text;
    position: relative;
    top: 51%;
    left: 40%;
    border-radius: 100px;
}

#nintendo-text {
    font-family: 'Pretendo';
    font-size: 35px;
    position: relative;
    top: 20%;
    left: 8%;
    color: $color_nintendo_text;
}

#pad-horizontal {
    content: '';
    background-color: $color_gameboy_buttons;
    width: 178px;
    height: 55px;
    position: relative;
    left: 10%;
    top: 60%;
}

#pad-vertical {
    content: '';
    background-color: $color_gameboy_buttons;
    width: 55px;
    height: 178px;
    position: relative;
    left: 16%;
    top: 53.2%;
}

#b-button {
    border-radius: 50%;
    background-color: $color_gameboy_buttons;
    width: 90px;
    height: 90px;
    position: relative;
    top: 43%;
    left: 64%;
}

#a-button {
    border-radius: 50%;
    background-color: $color_gameboy_buttons;
    width: 90px;
    height: 90px;
    position: relative;
    top: 45%;
    left: 78%;
}

#select-button {
    width: 95px;
    height: 28px;
    background-color: $color_gameboy_buttons;
    position: relative;
    top: 54%;
    left: 40%;
    border-radius: 100px;
}

#start-button {
    width: 95px;
    height: 28px;
    background-color: $color_gameboy_buttons;
    position: relative;
    top: 52.4%;
    left: 52%;
    border-radius: 100px;
}

#encoche {
    border: solid 1px black;
    border-right: solid 1px white;
    width: 5px;
    height: 78px;
    position: relative;
    top: -18.47%;
    left: 99.4%;
    background-color: white;
}

.message {
    position: relative;
    width: 165px;
    height: 90px;
    font-size: 30px;
    animation: blinker 1s linear infinite;
    text-transform: uppercase;

    &-power {
        top: -27%;
        left: 102%;
    }

    &-muted {
        top: -32%;
        left: -18%;
        text-align: right;
    }

    visibility: visible;
}

.message-muted img {
    position: relative;
    left: -23%;
}

#console {
    position: relative;
    height: 53px;
    width: 620px;
    border: solid 2px black;
    top: 79px;
    left: 61px;

    p {
        text-align: center;
    }
}

.background-color-console {
    background-color: white;
}

#scoreboard {
    position: absolute;
    left: 735px;
    top: 44.74px;
    display: block;
}

.scoreboard--hp-bar--player {
    background-color: #469910;
    height: 12px;
    width: 100%;
    transition: all 1s ease-in-out;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.scoreboard--player {
    border: solid 5px white;
    height: 360px;
    width: 152px;
    margin-top: 20px;

    &0 {
        background-color: white;
    }

    &1 {
        background-color: white;
    }
}

.scoreboard--highlighted {
    background-color: $color_gameboy;
}

.scoreboard--weapon--img--player {
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-left: -35px;
    margin-top: -5px;
    padding: 0;
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center;
}

.scoreboard--img--player {
    height: 70px;
    width: 70px;
    display: inline-block;
    margin-left: -1px;
    margin-top: -5px;
    padding: 0;
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center;
}

.scoreboard--weapon--img2--player {
    height: 90px;
    width: 90px;
    display: inline-block;
    margin-left: 70px;
    margin-top: -102px;
    padding: 0;
    background-size: 115%;
    background-repeat: no-repeat;
    background-position: center;
}

.background-black {
    position: relative;
    background-color: black;
    width: 900px;
    height: 900px;
    margin: auto;
    z-index: 3;
    border-bottom-left-radius: 600px 100px;
    border-bottom-right-radius: 600px 100px;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    top: -51%;
}

#buttons {
    position: relative;
    left: 100px;
    top: 42px;
    border: solid 1px black;
    width: 632px;
    visibility: hidden;
    user-select: none;
}

.button-attack {
    position: relative;
    width: 200px;
    height: 25px;
    padding-top: 8px;
    background-color: white;
    float: left;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: orange;
    }
}

.button-defense {
    position: relative;
    width: 200px;
    height: 25px;
    padding-top: 8px;
    background-color: white;
    float: right;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: orange;
    }
}

.rotate {
    animation: rotation 0.2s 14 linear;
}

.visibility-hidden {
    visibility: hidden;
}

.background-modal {
    display: none;
    position: relative;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.575);
    width: 900px;
    height: 900px;
    margin: auto;
    border-bottom-left-radius: 600px 100px;
    border-bottom-right-radius: 600px 100px;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    top: -104%;
}

.background-modal-content {
    display: none;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 5px solid black;
    width: 50%;
    height: 50%;
    top: 20%;
}

.background-modal-content-close {
    color: #aaaaaa;
    float: right;
    font-size: 38px;
    cursor: pointer;
}